*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    /*1vh represent 1% of the viewport height */
    height: 150vh;
    grid-template-rows: auto 1fr auto;

}
header{
    background-color: #2c3333;
    text-align: center;
    /* is a relative heigh which is twice the size of the current height*/
    padding: 2em;
    color: azure;
}
main{
    background-color: #445151;
    text-align: center;
    padding: 2em;
    color: azure;
}
footer{
    background-color: #505a5a;
    text-align: center;
    padding: 2em;
    color: azure;
}