*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    background-color: antiquewhite;
}
.box{
    background-color: #247;
    color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 150%;
    text-transform: uppercase;
}