*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

body{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
/* header and nav bar*/
header img{
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
    border-radius: 1em;
    
}
nav ul li{
    display: flex;
    margin: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
nav li a{
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
}
nav li a:hover{
    color: silver;
    transition: .2s ease-in;
}


/* Main Section */
section{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
article{
    flex: 1;
}
#promotion{
  position: relative;
  height: 260px;
  border-radius: 16px;
  overflow: hidden;

  /* banner image */
  background-image: url("rings.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#promotion::before {
content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 35%,
    rgba(0, 0, 0, 0.05) 70%
  );
}

.promotion_content{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    max-width: 420px;
    color: grey;
    background: none;
    z-index: 1;
}
.promotion_content h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem;
    background: NONE;
}

.promotion_content p{
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.9; 
    background: none;
}


/* footer section */
footer{
    display: flex  ;
    margin-top: 5%;
}
footer img{
    width: 150px;
    height: auto;
}
footer div{
    flex: 1;
}